IgniteEngine/IgniteEngine/x64
IgniteEngine/IgniteEngine/x64/*
IgniteEngine/shaders/*.spv
IgniteEngine/x64/Debug/*
!IgniteEngine/x64/Debug/SDL2.dll
IgniteEngine/x64/Release/*
!IgniteEngine/x64/Release/SDL2.dll

*/.vs/*$
IgniteEngine/IgniteEngine/glfw
IgniteEngine/IgniteEngine/glfw/*
IgniteEngine/IgniteEngine/sdl2
IgniteEngine/IgniteEngine/sdl2*
IgniteEngine/IgniteEngine/vulkan_sdk
IgniteEngine/IgniteEngine/vulkan_sdk/*

IgniteEngine/IgniteEngine/build
IgniteEngine/IgniteEngine/build*

IgniteEngine/assets
IgniteEngine/assets/*

ignite-bench.json

IgniteEngine/x64
IgniteEngine/x64/*

IgniteEngine/IgniteEngine/*.vcxproj
IgniteEngine/IgniteEngine/*.vcxproj.filters

IgniteEngine/IgniteEngine/imgui.ini

.vs/
.vs/*