IgniteEngine/IgniteEngine/x64
IgniteEngine/IgniteEngine/x64/*
IgniteEngine/shaders/*.spv
IgniteEngine/x64/*
!IgniteEngine/x64/Debug/SDL2.dll
!IgniteEngine/x64/Release/SDL2.dll

*/.vs/*
IgniteEngine/IgniteEngine/glfw
IgniteEngine/IgniteEngine/glfw/*
IgniteEngine/IgniteEngine/glm
IgniteEngine/IgniteEngine/glm/*
IgniteEngine/IgniteEngine/sdl2
IgniteEngine/IgniteEngine/sdl2*
IgniteEngine/IgniteEngine/vulkan_sdk
IgniteEngine/IgniteEngine/vulkan_sdk/*